<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://apps.bdimg.com/libs/jquerymobile/1.4.5/jquery.mobile-1.4.5.min.css">
<script src="https://apps.bdimg.com/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="https://apps.bdimg.com/libs/jquerymobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
</head>
<body>


  <div data-role="header">
    <h1>滑块控件</h1>
  </div>

  <div data-role="main" class="ui-content">
      <label for="points">进度:</label>
      <input type="range" name="points" id="points" value="50" min="0" max="100">
  </div>


</body>
</html>
